*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1146px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }
  .bg-dark{
      background: rgb(110, 110, 110);
      color: white;
  }
  .m-heading{
      font-size: 3rem;
  }
  .text-center{
      text-align: center;
  }
  .bg-primary{
      background:rgb(0, 92, 0);
      color: white;
  }
  .btn{
    display: inline;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
  }
  .btn-dark {
    background: #333;
    color: #fff;
  }
  

  
#navbar{
    position: sticky;
    display: flex;
    padding:0.4rem;
    background: rgb(68, 67, 67);
    align-items: center;
    justify-content: space-between;
   
}

.n-content{
    display: flex;
    justify-content: space-between;

}
.n-content i{
    color: green;
    padding-left: 10px;
}
.text-primary{
    font-size: 135%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:rgb(0, 0, 0);
    
}
.text-primary:hover{
    color: rgb(0, 39, 0);
    transition: 0.7s;
}
.ul{
    display: flex;
    list-style: none;
    padding-right: 3rem;
}

   
    

.ul li a{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.ul li a:hover{
    background:rgb(0, 92, 0) ;
    color: white;
    transition: 0.8s;
    border-radius: 10px;
    
}

.py-1 {
    padding: 1.5rem 0;
  }
  
  .py-2 {
    padding: 2rem 0;
  }
  
  .py-3 {
    padding: 3rem 0;
  }
  
  .p-1 {
    padding: 1.5rem;
  }
  
  .p-2 {
    padding: 2rem;
  }
  
  .p-3 {
    padding: 3rem;
  }
  

.showcase{
    position: relative;
    height:100vh;
    background: url(./image/wp755089-city-night-wallpaper.jpg) no-repeat center center/cover;
}

.s-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    flex-direction: column;
    line-height: 2rem;
}

.s-content p{
    font-size: 20px;
    font-weight: 900;
    color:black;
    font-family: cursive;
}




#what .items{
    display: flex;
    flex:1;
    padding: 3rem;
    
   
    
    
}
#what .items .item{
    text-align: center;
    flex: 1;
    line-height: 3rem;
    padding: 2rem;
   
  
    




}
#what .items .item i{
    background: rgb(18, 109, 0);
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;


}
   



#who {
    display: flex;
    background: rgba(51, 51, 51, 0.651);
  }
  
  #who div {
    flex: 1;
  }
  
  #who .who-img {
    background: url('./image/istockphoto-155378839-612x612.jpg') no-repeat center center/cover;
  }
  .list{
      list-style: none;
      
  }
  .list li{
      line-height: 2rem;
      border-bottom: 2px solid black;
  }
  
  #clients .items{
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
  }

  #clients .items img {
    display: block;
    margin: auto;
    width: 60%;
  }



   

#contact{
    background:url(./image/wp4809768-retro-4k-hd-wallpapers.jpg);
    height: 400px;

}


#contact .contact-form{
    background: rgb(86, 179, 0);
    width: 50%;
    height: 100%
}

#contact .contact-form .form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
   
  
}


.contact-form h1{
    font-size: 135%;
    font-family: sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;

}
.contact-form input{
    width:100%;
    height: 40px;
    border-style: none;
    border-radius: 3px;
}
.contact-form label{
    font-size: 135%;
    font-family: cursive;
    font-style: italic;
    font-variant: small-caps;
}

#footer{
    background:#333;
    padding:20px;
}
#footer p{
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    font-weight: 500;
}




@media(max-width: 576px){
    .l-heading{
        font-size: 2rem;
    }
    .lead{
        font-size: 1rem;
    }
     #navbar{
         flex-direction: column;
         align-items: center;
     }
     #navbar .ul{
         padding-left: 60px;
     }
    
     .n-content{
         margin-bottom: 1rem;
     }
     #showcase .showcase-content{
         top: 90px;
     }
 
     #what .items{
         flex-direction: column;
     }
     #who{
         display: block;
     }
     .text-primary{
         font-size: 90%;
     }
     #contact .contact-form{
         width: 100%;
     }
    @media(max-width:350px){
        #what .items .item{
            line-height: 2rem;
            padding: 1rem;
     
    }
    
}
}
@media(max-width:768px){
    #contact .contact-form{
        width: 100%;
}
}